body {
	
	margin: 0px;
	padding: 0px;
	background-image: url(/image/bg_Navigation.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	background-color: #543b13;
}

 html {
	
	    font-size: 1em;
    line-height: 1.25;
}
a:link {
	font-weight: 700;
	color: #bb8e48;
	text-decoration: none;
}
a:visited {
	font-weight: 700;
	color: #bb8e48;
	text-decoration: none;
}
a:hover {
	font-weight: 700;
	color: #bb8e48;
	text-decoration: underline;
}
a:active {
	font-weight: 700;
	color: #bb8e48;
	text-decoration: none;
}
h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 1.2em;
font-weight: 700;}
h2 {
	font-family: 'Slabo 27px', serif;
	font-size: 1.1em;
	font-weight: 700;
}
label {
	color: #b6b6b6;
	font-weight: 700;
	clear: none;
	float: left;
	display: block;
	margin-top: 5px;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
span.select {
	max-width: 154px; /* With the padding included */
	height: 18px;
	color: #4d4d4d;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background-image: url(/image/bg_Select.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 3px;
	padding-left: 5px;
	position: absolute;
	display: block;
}
span.select53 {
	max-width: 37px; /* With the padding included */
	height: 18px;
	color: #4d4d4d;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background-image: url(/image/bg_Select_53.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 3px;
	padding-left: 5px;
	position: absolute;
	display: block;
}
span.select64 {
	max-width: 43px; /* With the padding included */
	height: 18px;
	color: #4d4d4d;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	background-image: url(/image/bg_Select_64.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding-top: 3px;
	padding-right: 16px;
	padding-bottom: 3px;
	padding-left: 5px;
	position: absolute;
	display: block;
}
#Container {
	margin: 0px;
	padding: 0px;
}
#Content {
	height: 496px;
}
#Error {
	background-color: #FFFFFF;
	margin: 8px;
	clear: both;
	float: none;
	height: 29px;
}
#Error p {
	color: #990000;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
}
#Logo {
	background-image: url(/image/logo_ProImageSoftware.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size:cover;
	padding: 0px;
	clear: none;
	float: left;
	height: 63px;
	width: 296px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	display: block;
	font-size: 2px;
	overflow: hidden;
}
#Logo img {
	display: none;
}
#Logo a {
	text-indent: -100em;
	display: block;
	height: 63px;
	width: 296px;
	clear: both;
	float: none;
	margin: 0px;
	padding: 0px;
}
#Footer {
	background-image: url(/image/bg_Footer2.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
#Footer p {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #aa7726;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 36px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	background-image: url(/image/bg_Footer.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#Footer a {
	color: #aa7726;
	text-decoration: none;
}
#LoginForm label {
	max-width: 200px;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: none;
	float: left;
	color: #b6b6b6;
	font-weight: 700;
}
@media only screen and (min-width: 768px) {
#Navigation {
	background-image: url(/image/bg_Navigation_Floral.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 92px;
}
#Navigation div {
	padding: 0px;
	clear: both;
	float: none;
	height: 92px;
	max-width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#Navigation ul {
	padding: 0px;
	clear: none;
	float: right;
	height: 40px;
	list-style-type: none;
	max-width: 419px;
	margin-top: 51px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
}
#Navigation ul li {
	padding: 0px;
	clear: none;
	float: left;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	height: 40px;
	overflow: hidden;
}
#Navigation ul li a {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 40px;
	background-repeat: no-repeat;
	background-position: left top;
}
#Navigation ul li a:link {
	background-position: left top;
}
#Navigation ul li a:visited {
	background-position: left top;
}
#Navigation ul li a:hover {
	background-position: left bottom;
}
#Navigation ul li a:active {
	background-position: left top;
}
#Navigation ul li a.NavSel:link {
	background-position: left bottom;
}
#Navigation ul li a.NavSel:visited {
	background-position: left bottom;
}
#Navigation ul li a.NavSel:hover {
	background-position: left bottom;
}
#Navigation ul li a.NavSel:active {
	background-position: left bottom;
}
#SubNav {
	background-image: url(/image/bg_SubNav.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 65px;
	max-width: 435px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
}
#SubNav ul {
	padding: 0px;
	clear: both;
	float: none;
	height: 54px;
	max-width: 415px;
	display: block;
	list-style-type: none;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 40px;
}
#SubNav ul li {
	clear: none;
	float: left;
	list-style-type: none;
	display: block;
	padding: 0px;
	height: 54px;
	max-width: 53px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 28px;
	overflow: hidden;
}
#SubNav ul li a {
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 54px;
	max-width: 53px;
	font-size: 2px;
	text-indent: -100em;
	display: block;
}
#SubNav ul li a:link {
	background-position: left top;
}
#SubNav ul li a:visited {
	background-position: left top;
}
#SubNav ul li a:hover {
	background-position: left bottom;
}
#SubNav ul li a:active {
	background-position: left top;
}
#SubNav ul .NavSel a {
	background-position: left bottom;
}
#SubNav ul .NavSel a:link {
	background-position: left bottom;
}
#SubNav ul .NavSel a:visited {
	background-position: left bottom;
}
#SubNav ul .NavSel a:hover {
	background-position: left bottom;
}
#SubNav ul .NavSel a:active {
	background-position: left bottom;
}
.BtnSignUp {
	max-width: 58px;
}
.BtnSignUp a {
	background-image: url(/image/btn_SignUp.png);
	max-width: 58px;
}

.BtnSoftware {
	max-width: 83px;
}
.BtnSoftware a {
	background-image: url(/image/btn_TheSoftware.png);
	max-width: 83px;
}
.BtnContact {
	max-width: 68px;
}
.BtnContact a {
	background-image: url(/image/btn_ContactUs.png);
	max-width: 68px;
}
.BtnContinue {
	clear: none;
	float: right;
	background-image: url(/image/btn_Continue.png);
	margin: 0px;
	padding: 0px;
	height: 22px;
	max-width: 77px;
	background-repeat: no-repeat;
	background-position: left top;
	overflow: hidden;
	display: block;
	cursor:pointer;
}
.BtnAboutUs {
	max-width: 68px;
}
.BtnLogIn {
	max-width: 48px;
}
.BtnLogIn a {
	background-image: url(/image/btn_LogIn.png);
	max-width: 48px;
}

.BtnPricing {
	max-width: 58px;
}
.BtnPricing a {
	background-image: url(/image/btn_Pricing.png);
	max-width: 58px;
}
.BtnAboutUs a {
	background-image: url(/image/btn_AboutUs.png);
	max-width: 68px;
}

			}
#Text {
	padding: 10px;
	max-width: 1200px;
margin:0 auto;
	clear: both;
	float: none;
}
.BgText {
	/**background-image: url(/image/bg_Text.png)
	background-repeat: no-repeat;
	background-position: left top;;**/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+48,000000+100&0.3+0,0.3+48,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 48%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 48%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 48%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

-webkit-border-radius: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
}
.BgTextBottom {
	/** background-image: url(/image/bg_TextBottom.png);
	background-repeat: no-repeat;
	background-position: center bottom; **/
}
.BtnAlbum {
	background-image: url(/image/btn_Album.png);
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
}


.BtnBusiness {
	background-image: url(/image/btn_Business.png);
}
.BtnEvents {
	background-image: url(/image/btn_Events.png);
}
.BtnClient {
	background-image: url(/image/btn_Client.png);
}

.BtnContinue input {
	background-color: transparent;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	display: block;
	clear: both;
	float: none;
	height: 22px;
	max-width: 77px;
	margin: 0px;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.BtnPurchase {
	margin: 0px;
	padding: 0px;
	clear: none;
	float: right;
	height: 24px;
	max-width: 71px;
	overflow: hidden;
}
.BtnPurchase a {
	font-size: 2px;
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 24px;
	max-width: 71px;
	background-image: url(/image/btn_Purchase_Yellow.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.BtnSubmit {
	clear: none;
	float: left;
	background-image: url(/image/btn_Submit.png);
	margin: 0px;
	padding: 0px;
	height: 22px;
	max-width: 22px;
	background-repeat: no-repeat;
	background-position: left top;
	overflow: hidden;
	display: block;
	cursor:pointer;
}
.BtnSubmit input {
	background-color: transparent;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	display: block;
	clear: both;
	float: none;
	height: 22px;
	max-width: 22px;
	margin: 0px;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.BtnWebsite {
	background-image: url(/image/btn_Website.png);
}
.FormCheckField {
	display: none;
}
.Column {
	max-width:50%;
	float: left;
	clear: none;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.Column2, .ColumnYellow, .ColumnRed, .ColumnBlue, .ColumnGreen {
	max-width: 48%;
	float: left;
	clear: none;
	padding-right: 12px;
	padding-left: 22px;
	/**background-image: url(/image/bg_Text2.png);
	background-repeat: no-repeat;
	background-position: center top; **/
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.Column3 {
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.ColmnCntr {
	max-width: 430px;
	margin-right: auto;
	margin-left: auto;
}
.ColumnRed {
	background-image: url(/image/bg_TextArea_Red.png);
}
.ColumnRed h2 {
	color: #b42e34;
}
.ColumnRed .BtnPurchase a {
	background-image: url(/image/btn_Purchase_Red.png);
}
.ColumnYellow {
	background-image: url(/image/bg_TextArea_Yellow.png);
}
.ColumnYellow h2 {
	color: #e08d2d;
}

.ColumnBlue {
	background-image: url(/image/bg_TextArea_Blue.png);
}
.ColumnBlue h2 {
	color: #83adde;
}
.ColumnBlue .BtnPurchase a {
	background-image: url(/image/btn_Purchase_Blue.png);
}

.ColumnGreen {
	background-image: url(/image/bg_TextArea_Green.png);
}
.ColumnGreen h2 {
	color: #8cbd8f;
}
.ColumnGreen .BtnPurchase a {
	background-image: url(/image/btn_Purchase_Green.png);
}
.CstmInput {
	background-image: url(/image/bg_Input.png);
	background-repeat: no-repeat;
	background-position: left top;
	clear: none;
	float: left;
	height: 24px;
	max-width: 165px;
	margin-top: 0px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.CstmInput2 {
	background-image: url(/image/bg_Input.png);
	background-repeat: no-repeat;
	background-position: left top;
	clear: none;
	float: left;
	height: 24px;
	max-width: 165px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.CstmInput input, .CstmInput2 input {
	background-color: transparent;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 24px;
	max-width: 165px;
}
.CstmInput34 {
	background-image: url(/image/bg_Input_34.png);
	background-repeat: no-repeat;
	background-position: left top;
	clear: none;
	float: left;
	height: 24px;
	max-width: 26px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.CstmInput34 input {
	background-color: transparent;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 24px;
	max-width: 26px;
}
.CstmInput117 {
	background-image: url(/image/bg_Input_117.png);
	background-repeat: no-repeat;
	background-position: left top;
	clear: none;
	float: left;
	height: 24px;
	max-width: 107px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.CstmInput117 input {
	background-color: transparent;
	background-image: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 24px;
	max-width: 107px;
}
.CstmTextArea {
	background-image: url(/image/bg_TextArea.png);
	margin: 0px;
	padding: 5px;
	clear: both;
	float: none;
	height: 106px;
	max-width: 372px;
	background-repeat: no-repeat;
	background-position: left top;
}
.CstmTextArea textarea {
	background-color: transparent;
	background-image: none;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 106px;
	max-width: 372px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.HdrAboutUs {
	background-image: url(/image/hdr_AboutUs.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 18px;
	max-width: 96px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrAboutUs span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 18px;
	max-width: 96px;
	font-size: 2px;
}
.HdrAlbumDesigner {
	background-image: url(/image/hdr_albumdesigner.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 61px;
	max-width: 247px;
	display: block;
	overflow: hidden;
}
.HdrAlbumDesigner span {
	font-size: 2px;
	text-indent: -100em;
	display: block;
	height: 61px;
	max-width: 247px;
}
.HdrBusnManager {
	background-image: url(/image/hdr_business_man.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 61px;
	max-width: 265px;
	display: block;
	overflow: hidden;
}
.HdrBusnManager span {
	font-size: 2px;
	text-indent: -100em;
	display: block;
	height: 61px;
	max-width: 265px;
}
.HdrClientManager {
	background-image: url(/image/hdr_clientManager.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 61px;
	max-width: 238px;
	display: block;
	overflow: hidden;
}
.HdrClientManager span {
	font-size: 2px;
	text-indent: -100em;
	display: block;
	height: 61px;
	max-width: 238px;
}
.HdrContactUs {
	background-image: url(/image/hdr_ContactUs.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 17px;
	max-width: 114px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrContactUs span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 17px;
	max-width: 114px;
	font-size: 2px;
}
.HdrDisclaimer {
	background-image: url(/image/hdr_Disclaimer.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 18px;
	max-width: 107px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrDisclaimer span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 18px;
	max-width: 107px;
	font-size: 2px;
}
.HdrTheSoftware {
	background-image: url(/image/hdr_TheSoftware.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 18px;
	max-width: 134px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}
.HdrTheSoftware span {
	text-indent: -100em;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 18px;
	max-width: 134px;
	font-size: 2px;
	display: block;
}
.HdrEventManager {
	background-image: url(/image/hdr_EventManager.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 59px;
	max-width: 231px;
	display: block;
	overflow: hidden;
}
.HdrEventManager span {
	font-size: 2px;
	text-indent: -100em;
	display: block;
	height: 59px;
	max-width: 231px;
}
.HdrForgotUsrPass {
	background-image: url(/image/hdr_ForgotUserPass.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 25px;
	max-width: 276px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrForgotUsrPass span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 25px;
	max-width: 276px;
	font-size: 2px;
}
.HdrLogIn {
	background-image: url(/image/hdr_LogIn.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 24px;
	max-width: 62px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrLogIn span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 24px;
	max-width: 62px;
	font-size: 2px;
}
.HdrPricing {
	background-image: url(/image/hdr_Pricing.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 24px;
	max-width: 68px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrPricing span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 24px;
	max-width: 68px;
	font-size: 2px;
}
.HdrPrivacyPolicy {
	background-image: url(/image/hdr_PrivacyPolicy.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 25px;
	max-width: 139px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrPrivacyPolicy span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 25px;
	max-width: 139px;
	font-size: 2px;
}
.HdrProImage {
	background-image: url(/image/hdr_ProImage.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: both;
	float: left;
	height: 24px;
	max-width: 101px;
	overflow: hidden;
	display: block;
	margin: 0px;
}
.HdrProImage span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 24px;
	max-width: 101px;
	font-size: 2px;
}
.HdrProImagePlan {
	background-image: url(/image/hdr_ProImagePlan.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 25px;
	max-width: 161px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrProImagePlan span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 25px;
	max-width: 161px;
	font-size: 2px;
}
.HdrLabPrice {
	background-image: url(/image/hdr_LabPrice.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 25px;
	max-width: 260px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrLabPrice span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 25px;
	max-width: 260px;
	font-size: 2px;
}
.HdrSignUp {
	background-image: url(/image/hdr_SignUp.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 24px;
	max-width: 80px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrSignUp span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 24px;
	max-width: 80px;
	font-size: 2px;
}
.HdrTermsConditions {
	background-image: url(/image/hdr_TermsConditions.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px;
	clear: none;
	float: left;
	height: 18px;
	max-width: 204px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	display: block;
}
.HdrTermsConditions span {
	text-indent: -100em;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 18px;
	max-width: 204px;
	font-size: 2px;
}
.HdrWebsiteManager {
	background-image: url(/image/hdr_website_man.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 65px;
	max-width: 268px;
	display: block;
	overflow: hidden;
}
.HdrWebsiteManager span {
	font-size: 2px;
	text-indent: -100em;
	display: block;
	height: 65px;
	max-width: 268px;
}
.HdrWhoIsPro {
	background-image: url(/image/hdr_WhoIsProImage.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 44px;
	max-width: 263px;
	overflow: hidden;
}
.HdrWhoIsPro span {
	font-size: 2px;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 44px;
	max-width: 263px;
	text-indent: -100em;
	display: block;
}
.IcnBestFoot {
	background-image: url(/image/icn_web_personal.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 46px;
	max-width: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
	background-repeat: no-repeat;
	background-position: left top;
}
.IcnCreate {
	background-image: url(/image/icn_Create.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 44px;
	max-width: 46px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
	background-repeat: no-repeat;
	background-position: left top;
}
.IcnCust {
	background-image: url(/image/icn_client_person.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 45px;
	max-width: 49px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
	background-repeat: no-repeat;
	background-position: left top;
}
.IcnData {
	background-image: url(/image/icn_Data.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	clear: none;
	float: left;
	height: 44px;
	max-width: 46px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
}
.IcnGift {
	background-image: url(/image/icn_Business_gift_cert.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 43px;
	max-width: 47px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
	background-repeat: no-repeat;
	background-position: left top;
}
.IcnMail {
	background-image: url(/image/icn_client_mail.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 44px;
	max-width: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
	background-repeat: no-repeat;
	background-position: left top;
}
.IcnMessage {
	background-image: url(/image/icn_client_messagebrd.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 45px;
	max-width: 49px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
	background-repeat: no-repeat;
	background-position: left top;
}
.IcnOrder {
	background-image: url(/image/icn_business_approve.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 45px;
	max-width: 47px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
	background-repeat: no-repeat;
	background-position: left top;
}
.IcnPrsnt {
	background-image: url(/image/icn_Presentation.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	clear: none;
	float: left;
	height: 44px;
	max-width: 46px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
}
.IcnReporting {
	background-image: url(/image/icn_business_reporting.png);
	padding: 0px;
	clear: none;
	float: left;
	height: 44px;
	max-width: 47px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
	background-repeat: no-repeat;
	background-position: left top;
}
.IcnSimpleContent {
	background-image: url(/image/icn_web_home.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	clear: none;
	float: left;
	height: 46px;
	max-width: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -50px;
}
.Grey {
	background-color: #d8d2d2;
	background-image: url(/image/bg_Software2.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.ProSubNav {
	padding: 0px;
	clear: none;
	float: right;
	display: block;
	max-width: 200px;
	list-style-type: none;
	text-align: right;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.ProSubNav li {
	margin: 0px;
	clear: none;
	float: left;
	max-width: auto;
	text-align: right;
	display: block;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.ProSubNav li a {
	color: #FFFFFF;
}
.ProSubNav li a:link {
	color: #FFFFFF;
}
.ProSubNav li a:visited {
	color: #FFFFFF;
}
.ProSubNav li a:hover {
	color: #87a0a0;
}
.ProSubNav li a:active {
	color: #FFFFFF;
}
.ProSubNav li a.NavSel:link {
	color: #87a0a0;
}
.ProSubNav li a.NavSel:visited {
	color: #87a0a0;
}
.ProSubNav li a.NavSel:hover {
	color: #87a0a0;
}
.ProSubNav li a.NavSel:active {
	color: #87a0a0;
}
