/*
 * Box: display, float, position, left, top, height, width
 * Border
 * Background
 * Text
 * Other
*/

#header-nav{
  position: absolute;
  display: block;
  width: 100%;

  background-color: white;  
  
  transition: transform .3s ease;
  transform: translate(0, -100%);
  z-index: 2;

  &.opened{
    transform: translate(0, 0%);
  }

  ul{
    // box-shadow: 0 -5px 8px -4px rgba(0, 0, 0, 0.19) inset;
    box-shadow: 0 -0.67vw 1.07vw -0.53vw rgba(0, 0, 0, 0.19) inset;

    & > li{

      & > a, & > a:link, & > a:visited  {
        width: 100%;
        display: block;
        // padding: 25px 60px 25px 150px;
        padding: 3.33vw 8vw 3.33vw 20vw;

        color: $header-menu-item-font-color;
        font-family: 'Lato', sans-serif;
        // font-size: 30px;
        font-size: 4vw;
        // font-size: 29.63px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;

        -webkit-transition-property: color; transition-property: color;
        -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
      }
      & > a:hover, & > a:active  {
        color: $header-menu-item-font-hover-color;
        text-decoration: none;
      }
      & + li{
        // border-top: 3px solid #ccc;
        border-top: 0.4vw solid #ccc;
      }
    }
  }
}