.photographer-event-login{
  margin-bottom: $page-bottom-margin;

  .instructions{
    font-size: 3.23vw;//32px;
    color: #ababab;
    margin-bottom: 3.03vw;//30px;
  }

  .form-group .row{
    margin-bottom: 3.03vw;//30px;

    label{
      font-size: 3.03vw;//30px;
    }
  }
}