.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

assets/.sass-cache/
assets/custom/css/
assets/vendor/

node_modules/