@charset "utf-8";
@import url("/PhotoCP/css/ControlPanel.css");
/* CSS Document */
body, html {
  background-color: transparent;
  background-image: none;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  width: 745px;
  height: 1000px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  overflow: hidden;
}
span.select {
  width: 146px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
  height: 20px;
  color: #4d4d4d;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-image: url(/PhotoCP/Navigator/images/bg_SelectBox.jpg);
  background-repeat: no-repeat;
  margin: 0px;
  clear: none;
  float: left;
  padding-top: 3px;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 8px;
  position: absolute;
  display: block;
}
#BdBottom {
  background-image: url(/PhotoCP/Navigator/images/bd_Record_Top.png);
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 3px;
  width: 745px;
}
#BdTop {
  background-image: url(/PhotoCP/Navigator/images/bd_Record_Top.png);
  background-repeat: no-repeat;
  background-position: left top;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 3px;
  width: 746px;
}
#Container {
  background-image: url(/PhotoCP/Navigator/images/bg_RecordTable_Black.png);
  background-repeat: repeat-y;
  background-position: left top;
  margin: 0px;
  clear: both;
  float: none;
  height: 994px;
  width: 739px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
}
#Container #Folders {
  margin: 0px;
  padding: 0px;
  clear: none;
  float: left;
  height: 228px;
  width: 504px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-color: #4b4b4b;
  border-bottom-color: #4b4b4b;
}
#Container #Folders h3 {
  margin: 0px;
  clear: both;
  float: none;
  height: 25px;
  width: 499px;
  background-image: url(/PhotoCP/Navigator/images/bg_Hdr_1.png);
  background-position: left center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  display: block;
}
#Container #Folders #FoldList {
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 193px;
  width: 504px;
  overflow: auto;
}
#Container #Folders ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  width: 484px;
  display: block;
}
#Container #Folders ul li {
  margin: 0px;
  padding: 0;
  clear: both;
  float: none;
  width: 484px;
  display: block;
}
#Container #Folders ul li a {
  display: block;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 22px;
  width: 489px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-color: #000000;
  border-bottom-color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  background-image: url(/PhotoCP/Navigator/images/bg_FolderNav.gif);
  background-repeat: repeat-x;
  background-position: left top;
}
#Container #Folders ul li a:link {
  background-position: left top;
}
#Container #Folders ul li a:visited {
  background-position: left top;
}
#Container #Folders ul li a:hover {
  background-position: left bottom;
}
#Container #Folders ul li a:active {
  background-position: left top;
}
#Container #Folders ul li a div {
  display: block;
  clear: both;
  float: none;
  background-image: url(/PhotoCP/Navigator/images/fld_style_1.png);
  background-repeat: no-repeat;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 44px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  background-position: left top;
  height: 18px;
  cursor: pointer;
}
#Container #Folders ul #C a div {
  background-position: left -44px;
}
#Container #Folders ul #O a div {
  background-position: left -88px;
}
#Container #Folders ul #N a div {
  background-position: left top;
}
#Container #Folders ul #C .NavSel div {
  background-position: left -66px;
}
#Container #Folders ul #O .NavSel div {
  background-position: left -110px;
}
#Container #Folders ul #N .NavSel div {
  background-position: left -22px;
}
#Container #Folders ul #C ul, #Container #Folders ul #N ul {
  display:none;
}
#Container #Folders ul li ul li a {
  height: 22px;
  padding-left: 10px;
  width: 479px;
}
#Container #Folders ul li ul li a div {
  background-image: url(/PhotoCP/Navigator/images/fld_style_2.png);
  height: 18px;
  padding-left: 37px;
}
#Container #Folders ul li ul #C a div, #Container #Folders ul li ul #O ul #C a div, #Container #Folders ul li ul li ul #O ul #C a div {
  background-position: left -44px;
}
#Container #Folders ul li ul #O a div {
  background-position: left -88px;
}
#Container #Folders ul li ul #N a div {
  background-position: left top;
}
#Container #Folders ul li ul #C .NavSel div, #Container #Folders ul li ul #O ul #C .NavSel div, #Container #Folders ul li ul li ul #O ul #C .NavSel div {
  background-position: left -66px;
}
#Container #Folders ul li ul #O .NavSel div {
  background-position: left -110px;
}
#Container #Folders ul li ul #N .NavSel div {
  background-position: left -22px;
}
#Container #Folders ul li ul #C ul, #Container #Folders ul li ul #N ul, #Container #Folders ul li ul li ul #N ul {
  display:none;
}
#Container #Folders ul li ul li input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  border: 1px solid #CCCCCC;
  background-color: #F5F5F5;
  width: 200px;
  height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 1px;
  margin-right: 0px;
  margin-left: 25px;
}
#Container #Folders ul li ul li ul li a {
  height: 22px;
  padding-left: 20px;
  width: 469px;
}
#Container #Folders ul li ul li ul li a div {
  height: 18px;
}
#Container #Folders ul li ul li ul li input {
  width: 190px;
  margin-left: 35px;
}
#Container #Folders ul li ul li ul li ul li a {
  height: 22px;
  padding-left: 30px;
  width: 459px;
}
#Container #Folders ul li ul li ul li ul li a div {
  height: 18px;
}
#Container #Folders ul li ul li ul li ul li input {
  width: 180px;
  margin-left: 45px;
}
#Container #Folders ul li ul li ul li ul li ul li a {
  height: 22px;
  padding-left: 40px;
  width: 449px;
}
#Container #Folders ul li ul li ul li ul li ul li a div {
  height: 18px;
}
#Container #Folders ul li ul li ul li ul li ul li input {
  width: 170px;
  margin-left: 55px;
}
#Container #Images {
  padding: 0px;
  clear: both;
  float: none;
  height: 465px;
  margin-top: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 738px;
  overflow: auto;
}
#Container #Images .Image {
  padding: 0px;
  clear: none;
  float: left;
  height: auto;
  width: auto;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #4b4b4b;
}
#Container #Images .Image p {
  margin: 0px;
  padding: 5px;
}
#Container #Images #Btns {
  padding: 0px;
  clear: both;
  float: none;
  width: 56px;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  height: 24px;
}
#Container #Images #Btns li {
  padding: 0px;
  clear: none;
  float: left;
  height: 24px;
  width: 24px;
  list-style-type: none;
  overflow: hidden;
  margin-top: 0px;
  margin-right: 2px;
  margin-bottom: 0px;
  margin-left: 2px;
}
#Container #Images #Btns li a {
  font-size: 2px;
  text-indent: -100em;
  display: block;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 24px;
  width: 24px;
}
#Container #Images #Btns li a:link {
  background-position: left top;
}
#Container #Images #Btns li a:visited {
  background-position: left top;
}
#Container #Images #Btns li a:hover {
  background-position: left bottom;
}
#Container #Images #Btns li a:active {
  background-position: left top;
}
#Container #Images #Btns li .NavSel:link {
  background-position: left bottom;
}
#Container #Images #Btns li .NavSel:visited {
  background-position: left bottom;
}
#Container #Images #Btns li .NavSel:hover {
  background-position: left top;
}
#Container #Images #Btns li .NavSel:active {
  background-position: left bottom;
}
#Container #Images #Nav {
  background-image: url(/PhotoCP/Navigator/images/bg_ImgNav.png);
  background-repeat: repeat-x;
  background-position: left top;
  margin: 0px;
  clear: both;
  float: none;
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#Container #Images #Nav ul {
  display: block;
  padding: 0px;
  clear: both;
  float: none;
  height: 31px;
  width: 130px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  list-style-type: none;
}
#Container #Images #Nav ul li {
  display: block;
  padding: 0px;
  clear: none;
  float: left;
  height: 24px;
  width: 24px;
  overflow: hidden;
  margin-top: 0px;
  margin-right: 1px;
  margin-bottom: 0px;
  margin-left: 1px;
  list-style-type: none;
}
#Container #Images #Nav ul li a {
  font-size: 2px;
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 24px;
  width: 24px;
  text-indent: -100em;
}
#Container #Images #Nav ul li a:link {
  background-position: left top;
}
#Container #Images #Nav ul li a:visited {
  background-position: left top;
}
#Container #Images #Nav ul li a:hover {
  background-position: left bottom;
}
#Container #Images #Nav ul li a:active {
  background-position: left top;
}
#Container #Images #N, #Container #Images #O, #Container #Images #S, #Container #Images #SO {
  clear: both;
  float: none;
  height: 224px;
  width: 142px;
  margin: 0px;
  background-image: url(/PhotoCP/Navigator/images/bg_Image.jpg);
  background-repeat: repeat-x;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
}
#Container #Images #N {
  background-position: left 0px;
}
#Container #Images #N #Btns li {
  display: block;
}
#Container #Images #N #Nav {
  display: none;
}
#Container #Images #O {
  background-position: left -230px;
}
#Container #Images #O #Btns li {
  display: block;
}
#Container #Images #O #Nav {
  display: block;
}
#Container #Images #S {
  background-position: left -460px;
  border: 3px solid #a15653;
  height: 224px;
  width: 136px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#Container #Images #S #Btns li {
  display: block;
}
#Container #Images #S #Nav {
  display: none;
}
#Container #Images #SO {
  background-position: left -460px;
  border: 3px solid #a15653;
  height: 224px;
  width: 136px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#Container #Images #SO #Btns li {
  display: block;
}
#Container #Images #SO #Nav {
  display: block;
}
#Container #Images .BtnEvntCvr a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgCover.png);
}
#Container #Images .BtnImgFav a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgFav.png);
}
#Container #Images .BtnImgPub a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgPub.png);
}
#Container #Images .BtnImgPrvt a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgPrvt.png);
}
#Container #Images .BtnImgRmv a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgDelete.png);
}
#Container #Images .BtnImgRotateClck a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgRtate_Clck.png);
}
#Container #Images .BtnImgRotateCntClck a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgRtate_CntClck.png);
}
#Container #Images .BtnImgUpdt a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgUpdate.png);
}
#Container #Images .BtnImgView a {
  background-image: url(/PhotoCP/Navigator/images/btn_ImgViewLrg.png);
}
#Container #Navigation {
  margin: 0px;
  padding: 0px;
  clear: none;
  float: left;
  width: 233px;
  height: 228px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4b4b4b;
  background-image: none;
}
#Container #Navigation h3 {
  margin: 0px;
  clear: both;
  float: none;
  height: 25px;
  width: 228px;
  background-image: url(/PhotoCP/Navigator/images/bg_Hdr_1.png);
  background-position: left center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  display: block;
}
#Container #Navigation #Btns {
  clear: both;
  float: none;
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 223px;
  overflow: auto;
  height: 191px;
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-color: #000000;
}
#Container #Navigation #Btns #Btn {
  background-image: url(/PhotoCP/Navigator/images/bg_OptionRight.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0px;
  clear: none;
  float: left;
  height: 58px;
  width: auto;
  background-color: #000000;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
}
#Container #Navigation #Btns #Btn div {
  background-image: url(/PhotoCP/Navigator/images/bg_OptionLeft.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 58px;
  width: auto;
}
#Container #Navigation #Btns #Btn div a {
  font-size: 2px;
  display: block;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 58px;
  background-repeat: no-repeat;
  text-indent: -1000em;
}
#Container #Navigation #Btns #Btn div #Controller {
  width: 128px;
  height: 39px;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center 10px;
}
#Container #Navigation #Btns #Btn div #Controller #Min {
  margin: 0px;
  padding: 0px;
  clear: none;
  float: left;
  height: auto;
  font-size: 10px;
  color: #666666;
  width: auto;
  background-image: none;
}
#Container #Navigation #Btns #Btn div #Controller #Max {
  font-size: 10px;
  color: #666666;
  margin: 0px;
  padding: 0px;
  clear: right;
  float: right;
  height: auto;
  width: auto;
  background-image: none;
}
#Container #Navigation #Btns #Btn div #Controller #Bar {
  background-image: url(/PhotoCP/Navigator/images/bg_CntrBar.jpg);
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 10px;
  width: 128px;
  background-position: center center;
  overflow: hidden;
}
#Container #Navigation #Btns #Btn div #Controller #Bar #Cnt {
  background-image: url(/PhotoCP/Navigator/images/bg_Cntrllr.png);
  background-repeat: no-repeat;
  background-position: left top;
  height: 10px;
  width: 11px;
  position: relative;
  left: 58px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}
#Container #Navigation #Btns #Btn div #Controller p {
  font-size: 10px;
  color: #d5d5d5;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  clear: both;
  float: none;
  margin: 0px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#Container #Navigation #Btns #Btn div #Mover {
  width: 209px;
  height: 39px;
  padding-top: 14px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-left: 7px;
  overflow: hidden;
  background-image: none;
}
#Container #Navigation #Btns #Btn div #Mover label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: #333333;
  text-transform: lowercase;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  display: block;
}
#Container #Navigation #Btns #Btn div #Mover #SelectFolder {
  margin: 0px;
  padding: 0px;
  clear: none;
  float: left;
  height: 17px;
  width: 170px;
  overflow: hidden;
  background-image: none;
}
#Container #Navigation #Btns #Btn div #Mover #SelectFolder select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
#Container #Navigation #Btns #Btn div #Mover #BtnMove {
  padding: 0px;
  clear: none;
  float: left;
  height: 17px;
  width: 35px;
  background-image: url(/PhotoCP/Navigator/images/btn_Move.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
}
#Container #Navigation #Btns #Btn div #Mover #BtnMove a {
  font-size: 2px;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  text-indent: -100em;
  display: block;
  height: 17px;
  width: 35px;
  overflow: hidden;
  background-image: none;
}
#Container #Navigation #Btns #Btn div .Brightness {
  background-image: url(/PhotoCP/Navigator/images/icn_Brightness.jpg);
}
#Container #Navigation #Btns #Btn div .Contrast {
  background-image: url(/PhotoCP/Navigator/images/icn_Contrast.jpg);
}
#Container #Navigation #Btns #Btn div .Sharpen {
  background-image: url(/PhotoCP/Navigator/images/icn_Sharpen.jpg);
}
#FltMenuList {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #2E2E2E;
  margin: 0px;
  padding: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-top-color: #666666;
  border-right-color: #666666;
  border-left-color: #666666;
  left: 225px;
}
#FltMenuList ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#FltMenuList ul li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
#FltMenuList ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height:19px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin: 0px;
  font-weight: bold;
  background-image: url(/PhotoCP/Navigator/images/bg_FolderNav.gif);
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  width: 150px;
}
#FltMenuList ul li a:link {
  background-position: left top;
}
#FltMenuList ul li a:visited {
  background-position: left top;
}
#FltMenuList ul li a:hover {
  background-position: left bottom;
}
#FltMenuList ul li a:active {
  background-position: left top;
}
#HdrLinks150 {
  height: 22px;
  margin-top: -27px;
  margin-bottom: 7px;
  width: 150px;
  float: right;
}
#HdrLinks150 a {
  font-size: 2px;
  background-repeat: no-repeat;
  background-position: left top;
  text-indent: -100em;
  display: block;
  padding: 0px;
  clear: none;
  float: right;
  height: 22px;
  overflow: hidden;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#NewImages {
  height: 900px;
  width: 729px;
  overflow: auto;
}
#WarningWindow {
  display: none;
}
.BtnAddFolder {
  background-image: url(/PhotoCP/Navigator/images/btn_AddFolder.png);
  width: 22px;
}
.BtnApplyEffect {
  background-image: url(/PhotoCP/Navigator/images/btn_ApplyEffect.png);
  width: 83px;
}
.BtnDeSelAll {
  background-image: url(/PhotoCP/Navigator/images/btn_DeSellAll.jpg);
  background-position: center 9px;
  width: 37px;
}
.BtnFavImg {
  background-image: url(/PhotoCP/Navigator/images/btn_FavsImgs.jpg);
  background-repeat: no-repeat;
  background-position: center 9px;
  width: 37px;
}
.BtnImgColor {
  background-image: url(/PhotoCP/Navigator/images/btn_Img_Color.jpg);
  background-position: center 9px;
  width: 37px;
}
.BtnImgBlackWhite {
  background-image: url(/PhotoCP/Navigator/images/btn_Img_BlackWhite.jpg);
  background-position: center 9px;
  width: 37px;
}
.BtnImgSepia {
  background-image: url(/PhotoCP/Navigator/images/btn_Img_Sepia.jpg);
  background-position: center 9px;
  width: 37px;
}
.BtnLoadBack {
  background-image: url(/PhotoCP/Navigator/images/btn_Load_BacktoOrganizer.png);
  width: 113px;
}
.BtnLoadDeselAll {
  background-image: url(/PhotoCP/Navigator/images/btn_Load_DeselAll.png);
  width: 86px;
}
.BtnLoadRefresh {
  background-image: url(/PhotoCP/Navigator/images/btn_Load_Refresh.png);
  width: 65px;
}
.BtnLoadSelAll {
  background-image: url(/PhotoCP/Navigator/images/btn_Load_SelAll.png);
  width: 75px;
}
.BtnLoadUpload {
  background-image: url(/PhotoCP/Navigator/images/btn_Load_Upload.png);
  width: 62px;
}
.BtnLoadView {
  display: block;
  padding: 0px;
  clear: none;
  float: right;
  width: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.BtnMailFrnd {
  background-image: url(/PhotoCP/Navigator/images/btn_MailFrnd.jpg);
  background-position: center 9px;
  width: 37px;
}
.BtnPblcImg {
  background-image: url(/PhotoCP/Navigator/images/btn_PublicImg.jpg);
  background-repeat: no-repeat;
  background-position: center 9px;
  width: 37px;
}
.BtnPrvtImg {
  background-image: url(/PhotoCP/Navigator/images/btn_PrvtImg.jpg);
  background-repeat: no-repeat;
  background-position: center 9px;
  width: 37px;
}
.BtnRmvFolder {
  background-image: url(/PhotoCP/Navigator/images/btn_DelFolder.png);
  width: 22px;
}
.BtnRmvImg {
  background-image: url(/PhotoCP/Navigator/images/btn_RmvImg.jpg);
  background-position: center 9px;
  width: 37px;
}
.BtnRotateClck {
  background-image: url(/PhotoCP/Navigator/images/btn_Rtate_Clck.jpg);
  background-position: center 9px;
  width: 37px;
}
.BtnRotateCntClck {
  background-image: url(/PhotoCP/Navigator/images/btn_Rtate_CntClck.jpg);
  background-position: center 9px;
  width: 37px;
}
.BtnSelAll {
  background-image: url(/PhotoCP/Navigator/images/btn_SelAll.jpg);
  width: 37px;
  background-position: center 9px;
}
.BtnUpldFolder {
  background-image: url(/PhotoCP/Navigator/images/btn_UploadFolder.png);
  width: 22px;
}